# .env
NODE_ENV                      = dev 
PORT                          = 3000
SALT                          = 9
JWT_SECRET                    = Splititerator@532


# ----------------------------------KEYS--------------------------------------------------
JWT_PRIVATE_KEY=your_private_key_here
JWT_PUBLIC_KEY=your_public_key_here

# ----------------------------------GOOGLE--OAuth2.0-----------------------------------------
GOOGLE_CLIENT_ID              =
GOOGLE_CLIENT_SECRET          = 

# ----------------------------------POSTGRES--DEV-----------------------------------------
DEV_DB_DIALECT                = postgres
DEV_DB_HOST                   = localhost
DEV_DB_PORT                   = 5432
DEV_DB_USERNAME               = postgres
DEV_DB_PASSWORD               = root
DEV_DB_DATABASE               = lms


# ----------------------------------POSTGRES--PROD-----------------------------------------
PROD_DB_DIALECT               = postgres
PROD_DB_HOST                  = prod_host
PROD_DB_PORT                  = 5432
PROD_DB_USERNAME              = postgres
PROD_DB_PASSWORD              = root
PROD_DB_DATABASE              = lms_prod


# ----------------------------------POSTGRES--PROD-----------------------------------------
DB_DIALECT                    = postgres
DB_HOST                       = 127.0.0.1
DB_PORT                       = 5432
DB_USERNAME                   = postgres
DB_PASSWORD                   = root
DB_DATABASE                   = lms_dev

# ----------------------------------MYSQL-----------------------------------------
MYSQL_DB_DIALECT              = mysql
MYSQL_DB_HOST                 = localhost
MYSQL_DB_PORT                 = 3306
MYSQL_DB_USERNAME             = root
MYSQL_DB_PASSWORD             = root
MYSQL_DB_DATABASE             = lms
